<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga-id }}"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', '{{ ga-id }}');
	</script>


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	<link href="{{context-path}}/public/styles/build.app.css" rel="stylesheet">
	<title>Expirations Check</title>
</head>

<body>
	<div id="app">
		Loading
	</div>

	{{!-- Make the context-path be accessible from the JS also --}}
	<script>
		const APP_CONTEXT_PATH = '{{context-path}}';
	</script>

	<script src="{{context-path}}/public/js/build.app.js"></script>

</body>

</html>
